.left-content {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}
.left-content .left-content__filter .filter-title {
    font-size: 16px;
    color: #464646;
    font-weight: 700;
    padding: 12px;
}
.left-content .left-content__filter .filter-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
}
.left-content .left-content__filter .filter-list .filter-list__item {
    width: 50%;
    padding: 8px 0;
}
.left-content .left-content__filter .filter-list .filter-list__item .filter-item-wrapper.item-image {
    align-items: center;
}
.left-content .left-content__filter .filter-list .filter-list__item .filter-item-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.left-content .left-content__filter .filter-list .filter-list__item .filter-item-wrapper span {
    font-size: 16px;
    color: #018848;
    z-index: 7;
    background-color: #f8f9fa;
}
.left-content .left-content__filter .filter-list .filter-list__item .filter-item-wrapper img {
    margin-left: 10px;
    height: 30px;
    border-radius: 5px;
    transition: transform .2s linear;
    cursor: pointer;
}
.left-content .left-content__filter .filter-title {
    font-size: 16px;
    color: #464646;
    font-weight: 700;
    padding: 12px;
}
.left-content .left-content__filter .filter-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
}
.left-content .left-content__filter .filter-list .filter-list__item {
    width: 50%;
    padding: 8px 0;
}
.left-content .left-content__filter .filter-list.filter-list--text .filter-list__item .filter-item-wrapper {
    padding: 4px 0;
    cursor: pointer;
}
.left-content .left-content__filter .filter-list .filter-list__item .filter-item-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.left-content .left-content__filter .filter-list .filter-list__item .filter-item-wrapper span {
    font-size: 16px;
    color: #018848;
    z-index: 7;
    background-color: #f8f9fa;
}
.left-content .left-content__filter .filter-list .filter-list__item .filter-item-wrapper label {
    font-size: 14px;
    color: #464646;
    margin-left: 6px;
    cursor: pointer;
}
.right-content .right-content__result {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}
.right-content .right-content__result .result-title {
    padding: 12px;
}
.right-content .right-content__result .result-title span:first-child {
    font-size: 20px;
    font-weight: 700;
    color: #464646;
}
.right-content .right-content__result .result-title span:last-child {
    font-size: 16px;
    color: #6c757d;
    margin-left: 5px;
}
.right-content .right-content__result .result-tags {
    padding: 12px;
}
.right-content .right-content__result .result-tags span:first-child {
    font-size: 16px;
    margin-right: 5px;
}
.right-content .right-content__result .result-tags span:not(:first-child) {
    display: inline-flex;
    align-items: center;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    padding: 0 8px;
    color: #018848;
    border-radius: 4px;
    border: 1px solid #018848;
    margin: 0 10px 6px 0;
    cursor: pointer;
}
.right-content .right-content__product {
    background-color: #fff;
    border-radius: 5px;
}
.right-content .right-content__product .right-content-sort {
    padding: 15px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right-content .right-content__product .right-content-sort .sort-wrapper {
    position: relative;
}
.right-content .right-content__product .right-content-sort .sort-wrapper .sort-button {
    display: flex;
    justify-content: space-between;
    min-width: 165px;
    padding: 6px 12px;
    font-size: 14px;
    color: #464646;
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
}
.right-content .right-content__product .right-content-sort .sort-wrapper .sort-button i {
    font-size: 16px;
    margin-left: 5px;
}
.right-content .right-content__product .right-content-sort .sort-wrapper .sort-list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 10;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    width: 150px;
    transition: all .1s linear;
}
.right-content .right-content__product .right-content-sort .sort-wrapper .sort-list .sort-list__item {
    font-size: 14px;
    color: #464646;
    padding: 8px 12px;
    cursor: pointer;
}
.right-content .right-content__product .btn-see-more {
    display: block;
    padding: 45px 0 30px;
    text-align: center;
}
.right-content .right-content__product .btn-see-more span {
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #018848;
    line-height: 14px;
    cursor: pointer;
}
.right-content .right-content__result .result-tags span.tag-result-all {
    color: #fff;
    background-color: #018848;
    cursor: default;
}
.right-content .right-content__product .right-content-sort .sort-wrapper .sort-list .sort-list__item:hover {
    background-color: hsla(0,0%,63.1%,.10980392156862745);
    color: #018848;
    font-weight: 500;
}
.right-content .right-content__product .right-content-sort .sort-wrapper .sort-list.active {
    visibility: visible;
    opacity: 1;
}
.right-content .right-content__product .right-content-sort .sort-wrapper .sort-list {
    opacity: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 10;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
    width: 150px;
    list-style: none;
    transition: all .1s linear;
}
.right-content .right-content__result .result-tags span.tag-delete-all {
    color: #fff;
    border: unset;
    background-color: #cb1c22;
}
.right-content .right-content__result .result-tags span.tag-result-all {
    color: #fff;
    background-color: #018848;
    cursor: default;
}
.right-content .right-content__result .result-tags span:not(:first-child):hover i {
    color: #cb1c22;
}
.right-content .right-content__result .result-tags span:not(:first-child) i {
    margin-left: 5px;
}





.ass1-checkbox {
    align-items: center;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.ass1-checkbox span {
    position: relative;
    display: inline-block;
    border: solid 1px #97a3b9;
    border-radius: 4px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.ass1-checkbox input {
    display: none;
  }
  .ass1-checkbox input:checked + span:before {
    position: absolute;
    display: block;
    content: '';
    width: 4px;
    height: 10px;
    top: 50%;
    left: 50%;
    margin-left: -3px;
    margin-top: -8px;
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .ass1-checkbox input:checked + span {
    border: solid 1px #cb1c22;
    background-color: #cb1c22;
  }
  .ass1-checkbox p {
    display: inline;
    margin-left: 6px;
    text-transform: none;
    font-weight: 400;
  }
  .ass1-checkbox {
    margin-bottom: 8px;
    width: 50%;
  }